.panel.panel-default
  .panel-heading
    .title Sección
    buttom.btn.btn-primary.btn-xs(ng-click="addBlock($index)")
      | Nuevo bloque
  .panel-body
    .col-lg-12
      .panel.panel-default
        .panel-body
          form(name="formSec" novalidate='' enctype="multipart/form-data")
            .col-lg-6
              input(name="_id" type="hidden" ng-mode="section._id" value=" {{ section._id }} ")
              .form-group(ng-class='{ "has-success": formSec["title[es]"].$valid && submitted[$index],\
              "has-error": formSec["title[es]"].$invalid && submitted[$index] }')
                label Título español
                input.form-control(placeholder="Ejemplo: Título de mi sección", type='text', name='title[es]', ng-model='section.title.es', required='')
                p.help-block(ng-show='formSec["title[es]"].$error.required && submitted[$index]')
                  | Error de validación de campo

              .form-group(ng-class='{ "has-success": formSec["title[en]"].$valid && submitted[$index],\
              "has-error": formSec["title[en]"].$invalid && submitted[$index] }')
                label Título inglés
                input.form-control(placeholder="Ejemplo: My section title", type='text', name='title[en]', ng-model='section.title.en', required='')
                p.help-block(ng-show='formSec["title[en]"].$error.required && submitted[$index]')
                  | Error de validación de campo

              .form-group(ng-class='{ "has-success": formSec["order"].$valid && submitted[$index],\
              "has-error": formSec["order"].$invalid && submitted[$index] }')
                label Posición
                input.form-control(placeholder="Ejemplo: 0", type='number', name='order', ng-model='section.order', required='')
                p.help-block(ng-show='formSec["order"].$error.required && submitted[$index]')
                  | Error de validación de campo

            .col-lg-6
              .form-group(ng-class='{ "has-success": formSec["url[es]"].$valid && submitted[$index],\
              "has-error": formSec["url[es]"].$invalid && submitted[$index] }')
                label Enlace español
                input.form-control(placeholder="Ejemplo: es/bares/mi-empresa", type='text', name='url[es]', ng-model='section.url.es', required='')
                p.help-block(ng-show='formSec["url[es]"].$error.required && submitted[$index]')
                  | Error de validación de campo

              .form-group(ng-class='{ "has-success": formSec["url[en]"].$valid && submitted[$index],\
              "has-error": formSec["url[en]"].$invalid && submitted[$index] }')
                label Enlace inglés
                input.form-control(placeholder="Ejemplo: es/bars/my-company", type='text', name='url[en]', ng-model='section.url.en', required='')
                p.help-block(ng-show='formSec["url[en]"].$error.required && submitted[$index]')
                  | Error de validación de campo

              input.btn.btn-primary( type="submit" ng-click='updateSection(formSec,$index)'
                value="actualizar" ng-show=" section._id ")
              input.btn.btn-warning( type="submit" ng-click='deleteSection($index)'
                value="eliminar" ng-show=" section._id ")
              input.btn.btn-warning( type="submit" ng-click='createSection(formSec,$index)'
                value="Crear" ng-show=" !section._id ")
    .block-section
      promo-section(index="{{ $index }}" ng-repeat="block in section.blocks")
    //
       /.row (nested)
  //
     /.panel-body