#wrapper
  div(ng-include='"components/navbar/navbar.html"')
  #page-wrapper.promos(ng-controller="PromosCtrl")
    .row
      .col-lg-12.page-header
          h1 Promociones
          a.btn.btn-primary.new(href='/new-promo') Nueva Promocion
        //
           /.col-lg-12
    .row
        .col-lg-12
            .panel.panel-default
              .panel-heading
                | Promociones Más recientes - Total: {{ promos.length }}
              //
                 /.panel-heading
              .panel-body
                .table-responsive
                  table.table.table-striped.table-bordered
                    thead
                      tr(role='row')
                        th Código
                        th Título
                        th promo
                        th owner
                        th Likes Ranking
                        th Editar
                    tbody
                      tr.gradeA.odd(ng-repeat="promo in promos")
                        td.sorting_1 {{ promo._id }}
                        td {{ promo.title }}
                        td {{ promo.promo }}
                        td.center
                          a.btn.btn-large.btn-primary.btn-xs(href="/user/{{ promo.owner }}")
                            | {{ promo.owner }}
                        td.center {{ promo.likes.count }}
                        td.center
                          a.btn.btn-large.btn-primary.btn-xs(href="/promo/{{ promo._id }}")
                            <i class="fa fa-angle-right fa-fw"></i>
                  .row
                //
                   /.table-responsive
              //
                 /.panel-body
            //
               /.panel
          //
             /.col-lg-12

