#wrapper
  div(ng-include='"components/navbar/navbar.html"')
  #page-wrapper.cities(ng-controller="UsersCtrl")
    .row
      .col-lg-12.page-header
          h1 Ciudades
          a.btn.btn-primary.new(href='/new-city') Nueva Ciudad
        //
           /.col-lg-12
    .row
        .col-lg-12
            .panel.panel-default
              .panel-heading
                | Ciudades - Total: {{ cities.length }}
              //
                 /.panel-heading
              .panel-body
                .table-responsive
                  table.table.table-striped.table-bordered
                    thead
                      tr(role='row')
                        th Código
                        th Nombre
                        th Estado
                        th Coordenandas
                        th Editar
                    tbody
                      tr.gradeA.odd(ng-repeat="city in cities")
                        td.sorting_1 {{ city._id }}
                        td {{ city.name }}
                        td {{ city.state }}
                        td {{ city.loc[0] }} , {{city.loc[1]}}
                        td.center
                          a.btn.btn-large.btn-primary.btn-xs(href="/city/{{ city._id }}")
                            <i class="fa fa-angle-right fa-fw"></i>
                  .row
                //
                   /.table-responsive
              //
                 /.panel-body
            //
               /.panel
          //
             /.col-lg-12

