#wrapper
  div(ng-include='"components/navbar/navbar.html"')
  #page-wrapper.categories(ng-controller="UsersCtrl")
    .row
      .col-lg-12.page-header
          h1 Categorías
          a.btn.btn-primary.new(href='/new-category') Nueva Categoría
        //
           /.col-lg-12
    .row
        .col-lg-12
            .panel.panel-default
              .panel-heading
                | Categorías - Total: {{ categories.length }}
              //
                 /.panel-heading
              .panel-body
                .table-responsive
                  table.table.table-striped.table-bordered
                    thead
                      tr(role='row')
                        th Código
                        th Nombre
                        th Url
                        th Categoría padre
                        th Info
                        th Editar
                    tbody
                      tr.gradeA.odd(ng-repeat="category in categories")
                        td.sorting_1 {{ category._id }}
                        td {{ category.name.es}}
                        td {{ category.url }}
                        td
                          div(ng-repeat="parent in category.parent")
                            a(href="/category/{{ parent }}") {{ parent }} -
                        td {{ category.info.es }} | {{ category.info.es }}
                        td.center
                          a.btn.btn-large.btn-primary.btn-xs(href="/category/{{ category._id }}")
                            <i class="fa fa-angle-right fa-fw"></i>
                  .row
                //
                   /.table-responsive
              //
                 /.panel-body
            //
               /.panel
          //
             /.col-lg-12

