#wrapper
  div(ng-include='"components/navbar/navbar.html"')
  #page-wrapper.pack(ng-controller="PersonCtrl")
    .row
      .col-lg-12.page-header
          h1 Usuarios
        //
           /.col-lg-12
    .row
        .col-lg-12
            .panel.panel-default
              .panel-heading
                | Usuarios Más recientes - Total: {{ packs.length }}
              //
                 /.panel-heading
              .panel-body
                .table-responsive
                  table.table.table-striped.table-bordered
                    thead
                      tr(role='row')
                        th Código
                        th Foto
                        th Nombre
                        th Apellido
                        th email
                        th facebook_id
                        th Editar
                    tbody
                      tr.gradeA.odd(ng-repeat="person in persons")
                        td.sorting_1 {{ person._id }}
                        td
                          img( src="{{ person.picture.path }}")
                        td {{ person.name }}
                        td {{ person.lastname - person.second_lastname || '' }}
                        td {{ person.email }}
                        td {{ person.facebook.id }}
                        td.center
                          a.btn.btn-large.btn-primary.btn-xs(href="/person/{{ person._id }}")
                            <i class="fa fa-angle-right fa-fw"></i>
                  .row
                //
                   /.table-responsive
              //
                 /.panel-body
            //
               /.panel
          //
             /.col-lg-12

